{% extends "base/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block content %}

<div class="page-content-wrapper">
    <div class="page-content">
        <!-- <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">Add Driver</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item"
                            href="index.html">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li><a class="parent-item" href="#">Drivers</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">Add Driver</li>
                </ol>
            </div>
        </div> -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card-box">
                    <div class="card-head">
                        <header>Add Driver</header>
                        <button id="panel-button"
                            class="mdl-button mdl-js-button mdl-button--icon pull-right"
                            data-upgraded=",MaterialButton">
                            <i class="material-icons">more_vert</i>
                        </button>
                        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                            data-mdl-for="panel-button">
                            <li class="mdl-menu__item"><i class="material-icons">assistant_photo</i>Action
                            </li>
                            <li class="mdl-menu__item"><i class="material-icons">print</i>Another action
                            </li>
                            <li class="mdl-menu__item"><i class="material-icons">favorite</i>Something else
                                here</li>
                        </ul>
                    </div>
                 <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-body row">
                        <div class="col-lg-12">
                            <h3>Basic Information</h3>
                        </div>
                        <div class="col-lg-6 p-t-20">
                            <div
                                class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                {% render_field form.firstName type="text" class="mdl-textfield__input" required="required" %} 
                                <label class="mdl-textfield__label">First Name</label>
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20">
                            <div
                                class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                {% render_field form.lastName type="text" class="mdl-textfield__input" required="required" %} 
                                <label class="mdl-textfield__label">Last Name</label>
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20">
                            <div
                                class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                {% render_field form.address type="text" class="mdl-textfield__input" required="required" %} 
                                <label class="mdl-textfield__label">Street address 1</label>
                            </div>
                        </div>

                        <div class="col-lg-6 p-t-20">
                            <div
                                class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                {% render_field form.city type="text" class="mdl-textfield__input" required="required" %} 
                                <label class="mdl-textfield__label">City</label>
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20">
                            <div
                                class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                {% render_field form.country type="text" class="mdl-textfield__input" required="required" %} 
                                <label class="mdl-textfield__label">Country</label>
                            </div>
                        </div>
                        <!-- <div class="col-lg-6 p-t-20">
                            <div
                                class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                <input class="mdl-textfield__input" type="text"
                                    pattern="-?[0-9]*(\.[0-9]+)?" id="textZip">
                                <label class="mdl-textfield__label" for="textZip">Zip Code</label>
                                <span class="mdl-textfield__error">Number required!</span>
                            </div>
                        </div> -->
                        <div class="col-lg-6 p-t-20">
                            <div
                                class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                {% render_field form.driver_email type="email" class="mdl-textfield__input" required="required"  id="txtemail" %} 
                                <label class="mdl-textfield__label">Email</label>
                                <span class="mdl-textfield__error">Enter Valid Email Address!</span>
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20">
                            <div
                                class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                    
                                {% render_field form.phone_num type="text" class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="text5" required="required" %} 
                                <label class="mdl-textfield__label" for="text5">Mobile Number</label>
                                <span class="mdl-textfield__error">Number required!</span>
                            </div>
                        </div>
                      
                        <div class="col-lg-6 p-t-20">
                            <div
                                class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height txt-full-width">
                              
                                {% render_field form.gender type="text" class="mdl-textfield__input" required="required" %}
                             
                                <label for="sample2" class="mdl-textfield__label">Gender</label>
                                
                            </div>
                        </div>


                        <div class="col-lg-6 p-t-20">
                            <div
                                class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                {% render_field form.licence_num type="text" class="mdl-textfield__input" required="required" %}
                                <label class="mdl-textfield__label">Drivers Licence Number</label>
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20">
                            <div
                                class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width mdl-textfield--file">
                                {% render_field form.profile_pic type="text" class="mdl-textfield__input" placeholder="Upload Profile Photo" type="text"  %}
                                {% render_field form.profile_pic type="file" placeholder="Upload Profile Photo"   %}
                              
                            </div>
                        </div>


                        

                        
                        <div class="col-lg-12">
                            <h3>Bike Assignment</h3>
                        </div>
                      
                        <div class="col-lg-6 p-t-20">
                            <div
                                class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                {% render_field form.bike_num type="text" class="mdl-textfield__input" required="required" %}
                                <label class="mdl-textfield__label">Bike Number</label>
                            </div>
                        </div>
                        <!-- <div class="col-lg-6 p-t-20">
                            <div
                                class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                <input class="mdl-textfield__input" type="text"
                                    pattern="-?[0-9]*(\.[0-9]+)?" id="txtSCapacity">
                                <label class="mdl-textfield__label" for="text5">Seating Capacity</label>
                                <span class="mdl-textfield__error">Number required!</span>
                            </div>
                        </div> -->

                        <div class="col-lg-12 p-t-20 text-center">
                
                            <button type="submit"
                                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-20 btn-pink">Submit</button>
                            <button type="button"
                                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-default">Cancel</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}