{% extends "base/base.html" %}
{% load static %}
{% block content %}
    <!-- start page content -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!-- <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <div class=" pull-left">
                        <div class="page-title">Dashboard</div>
                    </div>
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item"
                                href="index.html">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                        </li>
                        <li class="active">Dashboard</li>
                    </ol>
                </div>
            </div> -->
            <!-- Taxi live location start -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-box">
                        <div class="card-head">
                            <header>Bike Live Location</header>
                            <div class="tools">
                                <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                                <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                            </div>
                        </div>
                        <div class="card-body ">
                            <div id="map" class="height-350"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Taxi live location end -->
            <div class="row">
           
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="row state-overview">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="info-box bg-b-purple">
                                <span class="info-box-icon push-bottom"><i
                                        class="material-icons">group</i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Booked Trips</span>
                                    <span class="info-box-number">0</span>
                                    <div class="progress">
                                        <div class="progress-bar width-0"></div>
                                    </div>
                                    <!-- <span class="progress-description">
                                        0% Increase in 0 Days
                                    </span> -->
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                            <div class="info-box bg-b-green">
                                <span class="info-box-icon push-bottom"><i
                                        class="material-icons">person</i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Cancelled Trip</span>
                                    <span class="info-box-number">0</span>
                                    <div class="progress">
                                        <div class="progress-bar width-0"></div>
                                    </div>
                                    <!-- <span class="progress-description">
                                        0% Increase in 0 Days
                                    </span> -->
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                            <div class="info-box bg-b-black">
                                <span class="info-box-icon push-bottom"><i
                                        class="material-icons">content_cut</i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">New Users</span>
                                    <span class="info-box-number">0</span>
                                    <div class="progress">
                                        <div class="progress-bar width-0"></div>
                                    </div>
                                    <!-- <span class="progress-description">
                                        0% Increase in 0 Days
                                    </span> -->
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                            <div class="info-box bg-b-danger">
                                <span class="info-box-icon push-bottom"><i
                                        class="material-icons">monetization_on</i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Total Earning</span>
                                    <span class="info-box-number">0</span><span>$</span>
                                    <div class="progress">
                                        <div class="progress-bar width-0"></div>
                                    </div>
                                    <!-- <span class="progress-description">
                                        0% Increase in 0 Days
                                    </span> -->
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                        </div>
                    </div>
                   
                </div>
          

                 <div class="col-xl-12 col-md-12">
                 
               
            <!-- chart start -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-box">
                        <div class="card-head">
                            <header>Income Survey: {{year1}}</header>
                            <div class="tools">
                                <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                                <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                            </div>
                        </div>
                        <div class="card-body no-padding height-9">
                            <div class="row text-center">
                                <div class="col-sm-3 col-6">
                                    <h4 class="margin-0">$ 0 </h4>
                                    <p class="text-muted"> Today's Income</p>
                                </div>
                                <div class="col-sm-3 col-6">
                                    <h4 class="margin-0">$ 0 </h4>
                                    <p class="text-muted">This Week's Income</p>
                                </div>
                                <div class="col-sm-3 col-6">
                                    <h4 class="margin-0">$ 0 </h4>
                                    <p class="text-muted">This Month's Income</p>
                                </div>
                                <div class="col-sm-3 col-6">
                                    <h4 class="margin-0">$ 0 </h4>
                                    <p class="text-muted">This Year's Income</p>
                                </div>
                            </div>
                            <div class="row">
                                <div id="line_chart3" class="full-width"></div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        </div>
            <!-- Chart end -->
            <!-- start Payment Details -->
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="card  card-box">
                        <div class="card-head">
                            <header>Driver Details</header>
                            <div class="tools">
                                <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                                <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                            </div>
                        </div>
                        <div class="card-body ">
                            <div class="table-wrap">
                                <div class="table-responsive tblDriverDetail">
                                    <table class="table display product-overview mb-30" id="support_table5">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Name</th>
                                                <th>Join Date</th>
                                                <th>Ride Type</th>
                                                <th>Status</th>
                                                <th>Phone</th>
                                                <th>Vehicle Number</th>
                                                <th>Edit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for driver in all_drivers %}
                                            <tr>
                                                <td>{{ driver.id }}</td>
                                                <td>{{ driver.firstName }}</td>
                                                <td>{{ driver.entry_date }}</td>
                                                <td>Bike</td>
                                                <td>
                                                    <span class="label label-sm box-shadow-1 label-success">On
                                                        Trip</span>
                                                </td>
                                                <td>{{ driver.phone_num }}</td>
                                                <td>{{ driver.licence_num }}</td>
                                                <td>
                                                    <a href="#" class="btn btn-tbl-edit btn-xs">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <button class="btn btn-tbl-delete btn-xs">
                                                        <i class="fa fa-trash-o "></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                </div>
            </div>
            <!-- end Payment Details -->
    
        </div>
    </div>
    <!-- end page content -->
    <!-- start chat sidebar -->
    <div class="chat-sidebar-container" data-close-on-body-click="false">
        <div class="chat-sidebar">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="#quick_sidebar_tab_1" class="nav-link active tab-icon" data-toggle="tab">Theme
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#quick_sidebar_tab_2" class="nav-link tab-icon" data-toggle="tab"> Settings
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane chat-sidebar-settings in show active animated shake" role="tabpanel"
                    id="quick_sidebar_tab_1">
                    <div class="slimscroll-style">
                        <div class="theme-light-dark">
                            <h6>Sidebar Theme</h6>
                            <button type="button" data-theme="white"
                                class="btn lightColor btn-outline btn-circle m-b-10 theme-button">Light
                                Sidebar</button>
                            <button type="button" data-theme="dark"
                                class="btn dark btn-outline btn-circle m-b-10 theme-button">Dark
                                Sidebar</button>
                        </div>
                        <div class="theme-light-dark">
                            <h6>Sidebar Color</h6>
                            <ul class="list-unstyled">
                                <li class="complete">
                                    <div class="theme-color sidebar-theme">
                                        <a href="#" data-theme="white"><span class="head"></span><span
                                                class="cont"></span></a>
                                        <a href="#" data-theme="dark"><span class="head"></span><span
                                                class="cont"></span></a>
                                        <a href="#" data-theme="blue"><span class="head"></span><span
                                                class="cont"></span></a>
                                        <a href="#" data-theme="indigo"><span class="head"></span><span
                                                class="cont"></span></a>
                                        <a href="#" data-theme="cyan"><span class="head"></span><span
                                                class="cont"></span></a>
                                        <a href="#" data-theme="green"><span class="head"></span><span
                                                class="cont"></span></a>
                                        <a href="#" data-theme="red"><span class="head"></span><span
                                                class="cont"></span></a>
                                    </div>
                                </li>
                            </ul>
                            <h6>Header Brand color</h6>
                            <ul class="list-unstyled">
                                <li class="theme-option">
                                    <div class="theme-color logo-theme">
                                        <a href="#" data-theme="logo-white"><span class="head"></span><span
                                                class="cont"></span></a>
                                        <a href="#" data-theme="logo-dark"><span class="head"></span><span
                                                class="cont"></span></a>
                                        <a href="#" data-theme="logo-blue"><span class="head"></span><span
                                                class="cont"></span></a>
                                        <a href="#" data-theme="logo-indigo"><span class="head"></span><span
                                                class="cont"></span></a>
                                        <a href="#" data-theme="logo-cyan"><span class="head"></span><span
                                                class="cont"></span></a>
                                        <a href="#" data-theme="logo-green"><span class="head"></span><span
                                                class="cont"></span></a>
                                        <a href="#" data-theme="logo-red"><span class="head"></span><span
                                                class="cont"></span></a>
                                    </div>
                                </li>
                            </ul>
                            <h6>Header color</h6>
                            <ul class="list-unstyled">
                                <li class="theme-option">
                                    <div class="theme-color header-theme">
                                        <a href="#" data-theme="header-white"><span class="head"></span><span
                                                class="cont"></span></a>
                                        <a href="#" data-theme="header-dark"><span class="head"></span><span
                                                class="cont"></span></a>
                                        <a href="#" data-theme="header-blue"><span class="head"></span><span
                                                class="cont"></span></a>
                                        <a href="#" data-theme="header-indigo"><span class="head"></span><span
                                                class="cont"></span></a>
                                        <a href="#" data-theme="header-cyan"><span class="head"></span><span
                                                class="cont"></span></a>
                                        <a href="#" data-theme="header-green"><span class="head"></span><span
                                                class="cont"></span></a>
                                        <a href="#" data-theme="header-red"><span class="head"></span><span
                                                class="cont"></span></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Start Setting Panel -->
                <div class="tab-pane chat-sidebar-settings animated slideInUp" id="quick_sidebar_tab_2">
                    <div class="chat-sidebar-settings-list slimscroll-style">
                        <div class="chat-header">
                            <h5 class="list-heading">Layout Settings</h5>
                        </div>
                        <div class="chatpane inner-content ">
                            <div class="settings-list">
                                <div class="setting-item">
                                    <div class="setting-text">Sidebar Position</div>
                                    <div class="setting-set">
                                        <select
                                            class="sidebar-pos-option form-control input-inline input-sm input-small ">
                                            <option value="left" selected="selected">Left</option>
                                            <option value="right">Right</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="setting-item">
                                    <div class="setting-text">Header</div>
                                    <div class="setting-set">
                                        <select
                                            class="page-header-option form-control input-inline input-sm input-small ">
                                            <option value="fixed" selected="selected">Fixed</option>
                                            <option value="default">Default</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="setting-item">
                                    <div class="setting-text">Sidebar Menu </div>
                                    <div class="setting-set">
                                        <select
                                            class="sidebar-menu-option form-control input-inline input-sm input-small ">
                                            <option value="accordion" selected="selected">Accordion</option>
                                            <option value="hover">Hover</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="setting-item">
                                    <div class="setting-text">Footer</div>
                                    <div class="setting-set">
                                        <select
                                            class="page-footer-option form-control input-inline input-sm input-small ">
                                            <option value="fixed">Fixed</option>
                                            <option value="default" selected="selected">Default</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="chat-header">
                                <h5 class="list-heading">Account Settings</h5>
                            </div>
                            <div class="settings-list">
                                <div class="setting-item">
                                    <div class="setting-text">Notifications</div>
                                    <div class="setting-set">
                                        <div class="switch">
                                            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect"
                                                for="switch-1">
                                                <input type="checkbox" id="switch-1" class="mdl-switch__input"
                                                    checked>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="setting-item">
                                    <div class="setting-text">Show Online</div>
                                    <div class="setting-set">
                                        <div class="switch">
                                            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect"
                                                for="switch-7">
                                                <input type="checkbox" id="switch-7" class="mdl-switch__input"
                                                    checked>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="setting-item">
                                    <div class="setting-text">Status</div>
                                    <div class="setting-set">
                                        <div class="switch">
                                            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect"
                                                for="switch-2">
                                                <input type="checkbox" id="switch-2" class="mdl-switch__input"
                                                    checked>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="setting-item">
                                    <div class="setting-text">2 Steps Verification</div>
                                    <div class="setting-set">
                                        <div class="switch">
                                            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect"
                                                for="switch-3">
                                                <input type="checkbox" id="switch-3" class="mdl-switch__input"
                                                    checked>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="chat-header">
                                <h5 class="list-heading">General Settings</h5>
                            </div>
                            <div class="settings-list">
                                <div class="setting-item">
                                    <div class="setting-text">Location</div>
                                    <div class="setting-set">
                                        <div class="switch">
                                            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect"
                                                for="switch-4">
                                                <input type="checkbox" id="switch-4" class="mdl-switch__input"
                                                    checked>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="setting-item">
                                    <div class="setting-text">Save Histry</div>
                                    <div class="setting-set">
                                        <div class="switch">
                                            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect"
                                                for="switch-5">
                                                <input type="checkbox" id="switch-5" class="mdl-switch__input"
                                                    checked>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="setting-item">
                                    <div class="setting-text">Auto Updates</div>
                                    <div class="setting-set">
                                        <div class="switch">
                                            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect"
                                                for="switch-6">
                                                <input type="checkbox" id="switch-6" class="mdl-switch__input"
                                                    checked>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end chat sidebar -->


{% endblock content %}